<h1>Dice Roll</h1>

<form action = "/process_roll">
  
  <label for="d_form">How many dice?</label>
  <input id="d_form" type ="text" name ="dice" placeholder="2">

  <label for ="s_form">How many sides?</label>
  <input id="s_form" type ="text" name ="sides" placeholder="6">
  
  <button>Go</button>
</form>

<ul>
  <li><a href="/dice/2/6">Roll two 6-sided dice</a></li>
  <li><a href="/dice/2/10">Roll two 10-sided dice</a></li>
  <li><a href="/dice/1/20">Roll one 20-sided die</a></li>
  <li><a href="/dice/5/4">Roll five 4-sided dice</a></li>
</ul>
